---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  {% assign page_view_class = "view-page" %}
  {% if page.url == "/" or page.url == "/index.html" or page.url == "/about/" or page.url == "/about.html" %}
    {% assign page_view_class = "view-home" %}
  {% elsif page.url == "/cv/" %}
    {% assign page_view_class = "view-cv" %}
  {% elsif page.url == "/year-archive/" %}
    {% assign page_view_class = "view-blog-archive" %}
  {% elsif page.layout == "post" or page.collection == "posts" %}
    {% assign page_view_class = "view-post" %}
  {% endif %}

  <body class="{{ page_view_class }}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    {% include hero-rotator.html %}
    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
